@media screen and (min-width: 2560px) {
    .l-chat {
      max-width: 460px !important;
    }
    footer {
      width: 100%;
    }
    header .header-chat {
      position: fixed;
      height: 60px;
      top: 0;
      right: 0;
    }
  }
  @media screen and (min-width: 2000px) {
    .l-chat {
      max-width: 380px;
    }
    footer {
      width: 100%;
    }
    header .header-chat {
      position: fixed;
      height: 60px;
      top: 0;
      right: 0;
    }
  }
  @media screen and (max-width: 1366px) {
    .toggle-chat-btn {
      display: flex;
    }
  }
  @media screen and (max-width: 1280px) {
    footer .footer-left .item {
      margin-left: 28px;
    }
    .main-chart__container {
      height: 350px;
    }
  }
  @media screen and (max-width: 1200px) {
    header .header-chat {
      position: fixed;
      top: 0;
      right: 0;
      transform: translateX(460px);
      width: 460px;
      max-width: 460px;
      opacity: 0;
      visibility: hidden;
      max-height: 60px;
      z-index: 1000 !important;
    }
    header .header-chat.active {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
    header .header-main {
      width: 100%;
    }
    .chat__container {
      opacity: 0;
      visibility: hidden;
      width: 460px;
      max-width: 460px;
      z-index: 1000;
      top: 60px;
      overflow-y: hidden;
      right: 0;
      transform: translateX(460px);
    }
    .chat__container.active {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
    .chat__container .chat {
      overflow-y: scroll;
    }
    .chat__container .chat .message:first-child {
      margin-top: 0;
    }
    .chat__container .chat .message:last-child {
      margin-bottom: 60px;
    }
    .chat__container .action-chat {
      position: fixed;
      bottom: 0;
      right: 0;
      width: 100%;
    }
    .chat__container .action-chat .toggle-chat-btn {
      position: fixed;
      top: unset;
      left: unset;
      z-index: 200;
      bottom: 67px;
      right: 5px;
    }
    footer {
      width: 100%;
    }
    .main__container {
      width: 100%;
    }
  }
  @media screen and (max-width: 1024px) {

    .modal {
      width: 50%;
    }
    .sign__container {
      width: 50%;
    }
    .button-back__container {
      left: 10%;
    }
    .container-m {
      padding: 0 80px;
    }
  }
  @media screen and (max-width: 840px) {
    header .header-chat {
      width: 100%;
      max-width: 100%;
    }
    .main__container {
      padding: 80px 15px 50px 15px;
    }
    header .header-main {
      padding: 0 15px;
    }
    .chat__container {
      opacity: 0;
      visibility: hidden;
      width: 100%;
      max-width: 100%;
      z-index: 1000;
      max-height: 100vh;
      overflow-y: hidden;
      top: 60px;
      bottom: 0;
    }
    .chat__container.active {
      opacity: 1;
      visibility: visible;
    }
    .chat__container .chat {
      max-height: calc(100% - 60px);
      overflow-y: scroll;
      height: calc(100% - 60px);
      min-height: calc(100% - 60px);
    }
    .chat__container .chat .message:first-child {
      margin-top: 0;
    }
    .chat__container .chat .message:last-child {
      margin-bottom: 60px;
    }
    .chat__container .action-chat {
      position: fixed;
      bottom: -50px;
      padding-bottom: 50px;
      right: 0;
      width: 100%;
    }
    .chat__container .action-chat .toggle-chat-btn {
      position: fixed;
      top: unset;
      left: unset;
      z-index: 200;
      bottom: 67px;
      right: 5px;
    }
    .table-bets .tbody .tr,
    .table-transactions .tbody .tr {
      min-height: 60px;
      height: 100%;
      flex-direction: column;
      padding: 20px 15px;
    }
    .table-bets .tbody .tr .cell,
    .table-transactions .tbody .tr .cell {
      width: 100% !important;
      margin: 5px 0 !important;
      padding: 0 !important;
      justify-content: space-between !important;
      font-size: 13px;
    }
    .table-bets .tbody .tr .cell:before,
    .table-transactions .tbody .tr .cell:before {
      content: attr(data-label);
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      width: 35%;
      color: var(--text-secondary);
      margin-right: 36%;
    }
    .table-rate .thead {
      display: none;
    }
    .table-rate .tbody {
      padding: 15px;
    }
    .table-rate .tbody .tr {
      min-height: 72px;
      height: 100%;
      flex-direction: column;
      padding: 15px;
    }
    .table-rate .tbody .tr .cell {
      width: 100% !important;
      margin: 5px 0 !important;
      padding: 0 !important;
      justify-content: space-between !important;
      font-size: 13px;
    }
    .table-rate .tbody .tr .cell:first-child {
      display: none;
    }
    .table-rate .tbody .tr .cell:before {
      content: attr(data-label);
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      width: 35%;
      color: var(--text-secondary);
      margin-right: 36%;
    }
    .table-bonus .thead {
      display: none;
    }
    .table-bonus .tbody {
      padding: 15px;
    }
    .table-bonus .tbody .tr {
      min-height: 72px;
      height: 100%;
      flex-direction: column;
      padding: 15px;
    }
    .table-bonus .tbody .tr .cell {
      width: 100% !important;
      margin: 5px 0 !important;
      padding: 0 !important;
      justify-content: space-between !important;
      font-size: 13px;
    }
    .table-bonus .tbody .tr .cell:first-child {
      display: none;
    }
    .table-bonus .tbody .tr .cell:before {
      content: attr(data-label);
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      width: 35%;
      color: var(--text-secondary);
      margin-right: 36%;
    }
  }
  @media screen and (max-width: 768px) {
    .footer-bottom {
      flex-direction: column-reverse;
    }
    .footer-bottom .caption.text {
      width: 100%;
    }
    .footer-bottom .footer-right {
      width: 100%;
      margin-bottom: 20px;
    }
    .min-w180 {
      min-width: -webkit-fit-content;
      min-width: -moz-fit-content;
      min-width: fit-content;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
    }
    .will_mt15 {
      margin-top: 15px;
    }
    .will_right {
      margin-left: auto;
    }
    .will_bets-wrap {
      flex-direction: column;
    }
    .will_bets-wrap .column {
      width: 100%;
      margin-bottom: 20px;
    }
    .will_bets-wrap .column:last-child {
      margin-bottom: 0;
    }
    .mobile-segment.dark {
      background: 0 0;
      padding: 0 !important;
      box-shadow: unset;
    }
    .will_wrapped {
      flex-wrap: wrap;
    }
    .mlm80 {
      margin-left: 0;
    }
    .mobile-order1 {
      order: 1;
    }
    .will_w100 {
      width: 100% !important;
    }
    .will_align-unset {
      align-items: unset;
    }
    .mobile-order2 {
      order: 2;
    }
    .mobile-order3 {
      order: 3;
    }
    .action-row {
      width: 100%;
    }
    .action-row .action-input input {
      width: 100%;
      min-width: 100%;
    }
    .main-chart__container {
      height: 300px;
    }
    .footer-first__block {
      flex-direction: column;
      justify-content: center;
    }
    h3 {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #fff;
    }
    .desktop-element {
      display: none !important;
    }
    .mobile-element {
      display: block;
    }
    .will-wrap {
      flex-wrap: wrap;
    }
    .will-wrap .button,
    .will-wrap .column {
      margin-right: 0;
      margin-left: 0;
      width: 100%;
    }
    .will-wrap .button:first-child,
    .will-wrap .column:first-child {
      margin-bottom: 30px;
    }
    header .header-main .header-left .curr_select {
      display: none;
    }
    header .header-main .header-right {
      display: none;
    }
    header .header-main .mobile-menu-btn {
      display: block;
    }
    footer {
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      padding: 10px;
    }
    footer .footer-right {
      justify-content: center;
    }
    footer .l-page {
      flex-wrap: wrap;
      justify-content: center !important;
      height: 100%;
      padding: 30px 15px;
      text-align: center;
    }
    footer .l-page .footer-left {
      flex-wrap: wrap;
      margin-bottom: 30px;
      justify-content: center;
    }
    footer .l-page .footer-left * {
      width: 100%;
    }
    footer .l-page .footer-left .logo {
      margin-bottom: 50px;
    }
    footer .l-page .footer-left .item {
      margin-left: 0;
      margin-bottom: 9px;
    }
    .segment .light-dark,
    .segment.dark {
      padding: 20px 15px;
    }
    .modal {
      width: 80%;
    }
    .container-m {
      padding: 0;
    }
    .container-m.big {
      padding: 0;
    }
    .button-back__container {
      top: 15px;
    }
    .sign__container {
      position: initial;
      top: unset;
      left: unset;
      transform: unset;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 90px 0 25px 0;
    }
    .sign__container form {
      width: 90%;
    }
    .sign__container.create {
      padding: 120px 0 25px 0;
    }
  }
  @media screen and (max-width: 480px) {
    .table-rate .tbody .tr .cell:before {
      margin-right: 0;
    }
    .table-bonus .tbody .tr .cell:before {
      margin-right: 0;
    }
  }
  @media screen and (max-width: 375px) {
    h1 {
      font-size: 33px;
    }
    h2 {
      font-size: 24px;
    }
    h4 {
      font-size: 16px;
    }
    h5 {
      font-size: 14px;
    }
    .body-main.text {
      font-size: 14px;
    }
    .body-secondary.text {
      font-size: 13px;
    }
    .body-secondary.text.semi-bold {
      font-weight: 500;
    }
    .p-large.text {
      font-size: 16px;
    }
    .caption.text {
      font-size: 12px;
    }
  }
  @media screen and (max-width: 320px) {
    .action-row .action-input .caption.text {
      font-size: 12px;
    }
    .user-photo__container {
      min-width: 40px;
      min-height: 40px;
      margin-left: 6px;
      margin-right: 6px;
    }
    .top-user {
      font-size: 17px;
    }
    .tooltip__time--info {
      width: 266px;
    }
  }
  