
body{
    --main: #1E243A;
    --main-light: #26273C;
    --main-dark: #2B3049;
    --secondary: #252A42;
    --tertiary: #343A55;
    --quaternary: #2E3451;
    --text-main: white;
    --text-secondary: #BBBDCC;
    --text-tertiary: #A8B0C8;
    --text-quaternary: #eff3f6;
    --notification-item: rgba(37, 42, 66, .9);
    --chat-color: #1C2034;
    --chat-header: #1A1F35;
}
body.white-theme{
    --main: white;
    --main-light: #F1F1F1;
    --main-dark: #E3E3E3;
    --secondary: #EEEEEE;
    --tertiary: #FCFCFC;
    --quaternary: #E4E6ED;
    --text-main: #1E243A;
    --text-secondary: #252A42;
    --text-tertiary: #53576C;
    --text-quaternary: #252A42;
    --notification-item: rgba(238, 238, 238, .9);
    --chat-color: #F9F9F9;
    --chat-header: #F1F1F1;
}